<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 맵핑하는 파일 / 맵퍼파일 -->
  										<!-- 이 패키지 안에 이 인터페이스가 하나 있어야 된다. -->
  <mapper namespace="org.doit.ik.mapper.DeptEmpSalgradeMapper">
  
  <!-- [SL05_MYBATIS] 코딩
	  	<select id="getDeptEmpInfo" resultType="DeptEmpSalgradeDTO">
	  		SELECT d.deptno, dname, empno, ename, job, hiredate, sal, grade
		    FROM emp e JOIN dept d ON d.deptno = e.deptno
		               JOIN salgrade s ON sal BETWEEN losal AND hisal
		    ORDER BY d.deptno ASC
	  	</select>
   -->
  		
  		<resultMap type="DeptEmpSalgradeDTO" id="deptEmpResultMap">
  		   <!-- pk는 id로 준다. / 유일한 값이여서 겹칠일이 없음 -->
  		   <id property="empno" column="empno" />
  		   
  		   <result property="dname" column="dname" />
  		   <result property="deptno" column="deptno" />
  		   <result property="ename" column="ename" />
  		   <result property="job" column="job" />
  		   <result property="hiredate" column="hiredate" />
  		   <result property="sal" column="sal" />
  		   <result property="grade" column="grade" />
  		</resultMap>
  		
	  	<select id="getDeptEmpInfo" resultMap="deptEmpResultMap">
	  		SELECT d.deptno, dname, empno, ename, job, hiredate, sal, grade
		    FROM emp e JOIN dept d ON d.deptno = e.deptno
		               JOIN salgrade s ON sal BETWEEN losal AND hisal
		    ORDER BY d.deptno ASC
	  	</select>
	  	
  </mapper>